*{
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ball{
    height: 8rem;
    width: 8rem;
    /* border-radius: 100%; */
    background-color: rgb(13, 135, 0);
    position: absolute;

    /* animation: bounce 3s 0s infinite alternate ease-in; */
    animation: bounce 2s infinite,
                rotate 2s infinite;

    /* transition: background-color 0.5s ease-in;
    transition: border-radius 0.5s ease-in;
    transition: box-shadow 2s ease-in; */
}

#title{
    position: absolute;
}

#title::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    /* animation-delay: 0s, 1s;
    animation-duration: 2s, 1s;
    animation-name: bounce, rotate; */
    /* animation: bounce 2s infinite, rotate 2s infinite; */
}
/* 
.ball:hover{
    background-color: rgb(255, 76, 76);
    border-radius: 0;

    box-shadow: 0.9rem 0.9rem rgb(117, 13, 13);
} */

/* @keyframes moveX {
    from{
        left: 0;
    }

    to{
        left: 100%;
    }

} */

@keyframes highlight {
    0%{
        width: 0;
    }

    50%{
        background-color: aqua;
    }

    100%{
        width: 100%;
    }
}

@keyframes bounce {
    0%{
        bottom: 0;
    }


    49%{
        transform: scale(2);
    }

    100%{
        bottom: 90%;
        width: 2rem;
        height: 2rem;
    }
}

@keyframes rotate {
    1%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(90deg);
    }

    75%{
        transform: rotate(200deg);
    }

    99%{
        transform: rotate(360deg);
    }
}